<h1><%= User.model_name.human %></h1>

<table>
  <thead>
  <tr>
    <th><%= User.human_attribute_name(:email) %></th>
    <th><%= User.human_attribute_name(:postcode) %></th>
    <th><%= User.human_attribute_name(:address) %></th>
    <th><%= User.human_attribute_name(:self_introduction) %></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.email, user %></td>
      <td><%= user.postcode %></td>
      <td><%= user.address %></td>
      <td><%= user.self_introduction %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @users %>
