<h2><%= t 'labels.user.show' %></h2>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postcode) %>:</strong>
  <%= @user.postcode %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= sanitize @user.self_introduction.gsub(/(\r\n|\r|\n)/, "<br>"), tags: ['br'] %>
</p>

<%= link_to t('views.common.back'), users_path %>
