<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<div>
  <%= link_to followings_user_path(@user) do %>
    <span><%= t 'views.following.followings' %><%= @user.followings.count %></span>
  <% end %>&nbsp;
  <%= link_to followers_user_path(@user) do %>
    <span><%= t 'views.following.followers' %><%= @user.followers.count %></span>
  <% end %>
</div>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
    <br>
    <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150])%>
  <% end %>
</p>

<div>
  <% if current_user != @user %>
    <% if current_user.following?(@user) %>
      <%= button_to t('views.following.unfollow'), user_following_relations_path(@user), method: :delete %>
    <% else %>
      <%= button_to t('views.following.follow'), user_following_relations_path(@user), method: :post %>
    <% end %>
  <% end %>
</div>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
